<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jixing.cms.mapper.WorkMapper" >
  <resultMap id="BaseResultMap" type="com.jixing.cms.model.Work" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="img0" property="img0" jdbcType="VARCHAR" />
    <result column="img1" property="img1" jdbcType="VARCHAR" />
    <result column="img2" property="img2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, img0, img1, img2
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from work
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from work
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jixing.cms.model.Work" >
    insert into work (id, title, img0, 
      img1, img2)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{img0,jdbcType=VARCHAR}, 
      #{img1,jdbcType=VARCHAR}, #{img2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.jixing.cms.model.Work" >
    insert into work
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="img0 != null" >
        img0,
      </if>
      <if test="img1 != null" >
        img1,
      </if>
      <if test="img2 != null" >
        img2,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="img0 != null" >
        #{img0,jdbcType=VARCHAR},
      </if>
      <if test="img1 != null" >
        #{img1,jdbcType=VARCHAR},
      </if>
      <if test="img2 != null" >
        #{img2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jixing.cms.model.Work" >
    update work
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="img0 != null" >
        img0 = #{img0,jdbcType=VARCHAR},
      </if>
      <if test="img1 != null" >
        img1 = #{img1,jdbcType=VARCHAR},
      </if>
      <if test="img2 != null" >
        img2 = #{img2,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jixing.cms.model.Work" >
    update work
    set title = #{title,jdbcType=VARCHAR},
      img0 = #{img0,jdbcType=VARCHAR},
      img1 = #{img1,jdbcType=VARCHAR},
      img2 = #{img2,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="count" resultType="int">
    select count(1) from work;
  </select>

  <select id="list" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from work
    limit #{pageIndex}, #{pageSize}
  </select>
</mapper>